div *{
  margin: 0px;
  margin-bottom:8px;
}
div{
  display: inline-block;
  width: 200px;
  box-shadow:0px 0px 5px rgba(0,0,0,0.5) ;
  margin-right: 10px;
}
img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
h4{
  margin-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
p{
  margin-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
button{
  margin-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}